[submodule "NexEngine/vendor/spdlog"]
	path = NexEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "NexEngine/vendor/GLFW"]
	path = NexEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "NexEngine/vendor/ImGui"]
	path = NexEngine/vendor/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "NexEngine/vendor/glm"]
	path = NexEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
