[submodule "NexEngine/vendor/spdlog"]
	path = NexEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "NexEngine/vendor/GLFW"]
	path = NexEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
